<div>
  <h1>
    <center>The Southsea crew is here</center>
  </h1>
  <br>
  <br>
</div>
<div class="d-flex justify-content-around">
  <!--Google map-->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12017.859906792766!2d5.938373613725575!3d43.12138061532965!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a2bcd80f858b0bf!2sFaculty%20of%20Law%20University%20of%20South%20Toulon!5e0!3m2!1sen!2suk!4v1581350726777!5m2!1sen!2suk" allowfullscreen></iframe>
  </div>
  <!-- -end- Google Maps-->

</div>
<div class="d-flex justify-content-around">
  <%= link_to "Revenir à l'accueil", index_path, class:'btn btn-secondary', style:'margin-top: 20px;' %>
</div>
