<h1><center>Voici notre équipe à toute épreuve!</center></h1>
<h2><center>Admirez le style!</center></h2>
<br>
<br>
<div class="d-flex justify-content-around">
  <div class"container"="class" container""="container" "">
    <div class="card" style="width: 18rem;">
      <%= image_tag "fernando.jpg", class: "d-block w-100", alt: "Fernando Bergamini" %>
      <div class="card-body">
        <h5 class="card-title">Fernando Bergamini</h5>
        <p class="card-text">Est sorti vivant de deux kidnapping (True Story). Un héros, j'vous dit!</p>
      </div>
    </div>
  </div>
  <div class"container"="class" container""="container" "">
    <div class="card" style="width: 18rem;">
      <%= image_tag "anouar.jpg", class: "d-block w-100", alt: "Anouar Haidary" %>
      <div class="card-body">
        <h5 class="card-title">Anouar Haidary</h5>
        <p class="card-text">(Presque) Sujet de sa Majesté la reine d'Angleterre.</p>
      </div>
    </div>
  </div>
  <div class"container"="class" container""="container" "">
    <div class="card" style="width: 18rem;">
      <%= image_tag "maxime.jpg", class: "d-block w-100", alt: "Maxime Besse" %>
      <div class="card-body">
        <h5 class="card-title">Maxime Besse</h5>
        <p class="card-text">Tendance naturelle à avoir la barbe bleue. Pizza lover.</p>
      </div>
    </div>
  </div>

</div>
<div class="d-flex justify-content-around">
  <%= link_to "Revenir à l'accueil", index_path, class:'btn btn-secondary', style:'margin-top: 20px;' %>
</div>
