<h1>Bienvenue <%= @name.capitalize %> !</h1>
<h2>c'est joli ton prénom ;-)</h2>
<br>
<br>
<p class="lead">Ici c'est notre super site de potins, il est chouette, non ?<br/><br/>Tu as trouvé ce lien caché, <strong>bravo</strong></p>
<!--
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0" allowfullscreen></iframe>
</div>
-->
<div class="d-flex justify-content-around">
  <%= link_to "Revenir à l'accueil", index_path, class:'btn btn-secondary', style:'margin-top: 20px;' %>
</div>
