<div class="starter-template">

  <div style="margin-top: 15px;">
    <h1 class="alert alert-primary">Identifie toi</h1>
  </div>

  <div class="form-group">
    <form action='/sessions/' method='POST'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>Saisi ton mail :</label>
      <input type='text' class="form-control" name='user_mail'/><br/>
      <label>Saisi ton mot de passe :</label>
      <textarea  type='text' class="form-control" name='user_pwd' rows="3"/></textarea>
      <input type='submit' class="btn btn-primary" value="Se connecter" style="margin-top: 10px;"/>
    </form>
  </div>

  <div class="d-flex justify-content-around">
    <%= link_to "Revenir à l'accueil", index_path, class:'btn btn-secondary', style:'margin-top: 20px;' %>
  </div>

  <% if flash[:danger] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:danger] %>
  </div>
<% end %>
</div>